<div class="panel panel-info myDisplay text-center" >
    <div class="panel-heading"><h3>展示台</h3></div>
    <div class="panel-body">
        <h4>希望通过下面这个表格，你能够简单地认识我^.^</h4>
    </div>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <td class="warning"><h3>姓名:李金文</h3></td>
            </tr>
        </table>
        <table class="table .table-hover">
            <tr>
                <td class="active"><h4>出生年月：1996.05.05</h4></td>    
                <td class="success"><h4>专业：通信工程</h4></td>
            </tr>
        </table>
        <table class="table ">
            <tr>
                <td class="warning"><h4>毕业院校：电子科技大学中山学院</h4></td>
                <td class="danger"><h4>学历：本科</h4></td>
            </tr>
        </table>
        <table class="table ">
            <tr>
                <td class="danger" ><h4>联系电话：13425477079</h4></td>
                <td class="active"><h4>邮箱：m13425477079@163.com/</h4></td>
            </tr>
        </table>
        <table class="table ">
            <tr>
                <td><a href="" target="_blank"><h4>博客</h4></a></td>
                <td class="info"><a href="" target="_blank"><h4>github</h4></a></td>
            </tr>
        </table>
        <table class="table ">
            <tr>
                <td class="warning">HTML/HTML5</td>
                <td>CSS/CSS3</td>
                <td class="info ">Javascript</td>
                <td class="success ">jquery</td>
                <td class="active ">bootstrap</td>
                <td class="danger ">node.js</td>
            </tr>
        </table>
        <table class="table">
            <tr><td><a href="" target="_blank"><h4>更多信息点这里</h4></a></td></tr>
        </table>
    </div>
</div>
<div class="well"></div>
<div class="page-header">
    <h1>网站作品 <small><a href="" target="_blank">更多>></a></small></h1>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/aixin.png" alt="web1">
            <div class="caption">
                <h3>3D爱心动画</h3>
                <p>HTML5+CSS3制作3D爱心动画实例教程</p>
                <p><a href="./HTML5+CSS3制作3D爱心动画实例教程/HTML5+CSS3制作3D爱心动画实例教程.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/yinyangshi.png" alt="web1">
            <div class="caption">
                <h3>阴阳师首页</h3>
                <p>主要使用jquery搭建的一款游戏网站首页。</p>
                <p><a href="./阴阳师项目/home.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/music.png" alt="web1">
            <div class="caption">
                <h3>web简单版的音乐播放器</h3>
                <p>使用原生的javascript实现的音乐播放器</p>
                <p><a href="./HTML5+javascript+CSS3实现音乐播放器/music-player.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/weijinsuo.png" alt="web1">
            <div class="caption">
                <h3>响应式布局网站首页</h3>
                <p>使用bootstrap实现的响应式布局网站首页</p>
                <p><a href="./mobile-web/index.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/framework.png" alt="web1">
            <div class="caption">
                <h3>网页各种案例</h3>
                <p>案例大全</p>
                <p><a href="./框架结构/frameset-资料整理.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/xiaomi.png" alt="web1">
            <div class="caption">
                <h3>小米官网</h3>
                <p>基于jquery的小米官网</p>
                <p><a href="./小米官网项目/index.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>

</div>
<div class="page-header">
    <h1>插件展示<small><a href="takein.html" target="_blank">更多>></a></small></h1>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/zhuomian.png" alt="js-img-run1">
            <div class="caption">
                <h3>jq桌面拖拽</h3>
                <p>通过js，实现桌面拖拽。</p>
                <p><a href="./jq04-桌面系统开发-拖拽排序/demo/index.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/lunbo.png" alt="js-img-run1">
            <div class="caption">
                <h3>JS图片轮播</h3>
                <p>通过jquery，实现图片轮播。</p>
                <p><a href="./jq03/01-京东轮播.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/xuanzhong.png" alt="js-img-run1">
            <div class="caption">
                <h3>拖拽选中</h3>
                <p>图片拖拽选中</p>
                <p><a href="./jq03/02-拖拽选中.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/yinyue.png" alt="js-img-run1">
            <div class="caption">
                <h3>简单音乐播放器</h3>
                <p>简单音乐播放器</p>
                <p><a href="./播放器/2-20/自制播放器.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/fanpai.png" alt="js-img-run1">
            <div class="caption">
                <h3>纯CSS3实现百度新帖吧3D翻牌效果</h3>
                <p>纯CSS3实现百度新帖吧3D翻牌效果</p>
                <p><a href="./纯CSS3实现百度新帖吧3D翻牌效果/纯CSS3实现百度新帖吧3D翻牌效果.html" class="btn btn-primary" role="button" target="_blank">在线预览</a> <a href="" class="btn btn-default" role="button" target="_blank">GitHub源码</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <%- include("../views/highchart.ejs") %>
    </div>
</div>
<div class="page-header">
    <h1>博客列表 <small><a href="">更多>></a></small></h1>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="./images/blog.jpg" alt="博客列表">
            <div class="caption">
                <h3>敬请期待</h3>
                <p>建设好后台，开始上传，敬请期待。</p>
                <p><a href="#" class="btn btn-primary" role="button" target="_blank">查看</a></p>
            </div>
        </div>
    </div>

        </div>
    </div>
</div>